.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testCard {
  transition: 0.3s;
  transform: scale(0.9);
}

.testCard:hover {
  transform: scale(0.95);
}

.ptest {
  display: flex;
  align-items: center;
}

.customLabel {
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.customLabel_disabled {
  font-size: 16px;
  color: black;
}

.test_question_card {
  /* background-color: #d1ecf1; */
  border: 2px solid black;
}

/* .row {
  border: 1px solid red;
}

.col {
  border: 1px solid green;
} */

.sidenav {
  z-index: 1001;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  /* font-weight: 100; */
  text-align: center;
  font-size: 15px;
  position: fixed;
  z-index: 1000;
  right: 5vw;
}

.multiplAnsDesc {
  margin: 0;
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  #clockdiv {
    transform: scale(0.6);
    right: 0;
  }
}

@media only screen and (max-width: 500px) {
  #clockdiv {
    /* display: flex;
    justify-content: center;
    position: relative; */
    top: -10px;
    right: -40px;
  }
  #clockdiv > div {
    display: inline-block;
  }
}

/* .smalltext {
  color: black;
} */

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #485460;
  /* display: inline-block; */
  margin: 10px;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #1e272e;
  display: inline-block;
}

.changeVisibilityLogin {
  float: right;
  position: absolute;
  right: 10px;
  top: 45%;
  cursor: pointer;
  z-index: 2;
}
